.menu {
    border: 1px solid #088F8F;
    border-radius: 10px;
    padding: 3% 6%;
    margin-bottom: 3%;
}

.menu h2 {
    color: #088F8F;
    letter-spacing: 0.08rem;
    font-size: 1.1rem;
}

.menu h3 {
    text-align: left;
    color: #088F8F;
    letter-spacing: 0.08rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.menu-text {
    padding-left: 7%;
    text-decoration: none;
    text-align: left;
    color: #088F8F;
    letter-spacing: 0.08rem;
    font-size: 0.9rem;
    list-style-type: none;
}

.button-clear {
    text-decoration: none;
    background-color: #088F8F;
    border-color: #088F8F;
    color: #fdf8f3;
    border-radius: 15px;
    font-size: 1rem;
    padding: 0.5% 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.button-clear:hover {
    background-color: #fdf8f3;
    color: #088F8F;
}
