.page-link {
    background: transparent;
    color: #088F8F;
    border: 0;
    border-radius: 50%;
}

.page-link:hover {
    background: #088F8F;
    color: white;
    border: 0;
    border-radius: 50%;
}

.active>.page-link {
    z-index: 3;
    background-color: #088F8F;
    border-color: #088F8F;
}

.page-link:focus {
    box-shadow: unset;
}

.recipe {
    text-align: center;
    margin: 1rem 1.8rem;
    position: relative;
}
.image-block{
    position: relative;
}

.linia {
    color: #088F8F;
}

@media (max-width: 426px) {
    .page-link {
        font-size: 9.5px;
    }
}