button{
    color: #088F8F;
    background-color: white;
    border-color: #088F8F;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

button.toggled{
    background-color: #088F8F;
    color: #ffff;
    border-color: #088F8F;
}