.header {
  font-family: 'Tahoma';
  letter-spacing: 0.08em;
  margin: 0 5% 0 5%;
  padding-top: 1rem;
}

.header a{
  color: #088F8F;
  text-decoration: none;
}

.logo {
  font-size: 2.2rem;
  font-weight: bold;
  color: #088F8F;
}
.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
  background-color: #fbebde !important;
  height: auto !important;
  padding-bottom: 2rem;
}
.css-i4bv87-MuiSvgIcon-root {
  fill: #088F8F !important;
}

.navbar-nav {
  font-size: 1.3rem;
  color: #088F8F;
}
 .nav-link {
  font-size: 1.5rem; /* Zwiększenie rozmiaru czcionki */
  color: #088F8F; /* Kolor tekstu */
  background-color: #e0f7fa; /* Dodanie tła */
  padding: 10px 15px; /* Dodanie odstępów wewnętrznych */
  border-radius: 10px; /* Zaokrąglone rogi */
  transition: background-color 0.3s ease, color 0.3s ease; /* Efekt przejścia przy hover */
}

.navbar-nav:hover .nav-link:hover {
  background-color: #088F8F; /* Zmiana koloru tła przy najechaniu */
  color: #fff; /* Zmiana koloru tekstu przy najechaniu */
}


.small-nav {
  font-size: 1.5rem;
  color: #088F8F;
  text-decoration: none;
  text-align: start;
  padding-left: 2rem;
  font-weight: 600;
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus {
  color: #088F8F;
}

.nav-item{
  padding-left: 15px;
}

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: row;
  }

  .nav-item {
    padding-left: 0;
    padding-right: 5px;
    margin-left: 10px;
  }

  .navbar-toggler {
    display: block;

  }

  .navbar-collapse {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #e6f7f7;
    border: 1px solid #088F8F;
    border-radius: 10px;
    padding: 10px;
  }

  .navbar-toggler:focus+.navbar-collapse,
  .navbar-toggler:hover+.navbar-collapse,
  .navbar-collapse:focus,
  .navbar-collapse.show {
    display: block;
  }
}

@media (max-width: 400px) {
  .logo {
    font-size: 1.5rem;
  }
}