<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Your Password</title>
</head>
<body>
<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Enter your new password" required autofocus />
            </p>
            <p>
                <input type="password" class="form-control" placeholder="Confirm your new password"
                       required oninput="checkPasswordMatch(this);" />
            </p>
            <p id="passwordMismatch" style="color: red;"></p> <!-- Dodaj komunikat o niepasujących hasłach -->
            <p class="text-center">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>
</body>
</html>
<script>
function checkPasswordMatch(fieldConfirmPassword) {
    const passwordInput = document.getElementById("password");
    const mismatchMessage = document.getElementById("passwordMismatch");

    if (fieldConfirmPassword.value != passwordInput.value) {
        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        mismatchMessage.textContent = "Passwords do not match!";
    } else {
        fieldConfirmPassword.setCustomValidity("");
        mismatchMessage.textContent = "";
    }
}
</script>
